.container00 {
    &.container01 {
        background-image: url(../../images/home/02.jpg);
    }

    &.container02 {
        background-image: url(../../images/home/05.jpg);
    }

    &.container03 {
        background-image: url(../../images/home/02.gif);
    }

    &.container04 {
        background-image: url(../../images/home/04.jpg);
    }   
}

.titlePadding {
    padding-top: 200px;
}

.shortTitle {
    width: 550px;
    margin-bottom: 25px;
    color: #007a4e;
    font-size: 2rem;
}

.mediumTitle {
    width: 700px;
    margin-bottom: 25px;
    font-size: 4rem;
    color: #007a4e;
}

.navbar-brand img {
    width: 70px;
}

@media (max-width: 750px) {
    .titlePadding {
      padding-top: 120px;
    }
  
    .shortTitle,
    .mediumTitle {
      width: auto;
      font-size: 50px;
    }
};

@media (max-width: 380px) {
    .shortTitle,
    .mediumTitle {
      width: auto;
      font-size: 40px;
    }
}